* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#navbar {
  display: flex;
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: white;
  top: 0;
}

.logo {
  margin-left: 30px;
  padding: 10px;
}
.navlink {
  padding: 20px;
}

.navlink a {
  flex: 2;
  margin-right: 15px;
  text-decoration: none;
  color: black;
}
.list li {
  list-style: none;
  width: 200px;
  background-color: whitesmoke;
  padding: 10px;
  font-size: 18px;
}

.list {
  float: left;
  margin-left: -40px;
}

.list li a {
  text-decoration: none;
  color: black;
}

.men-box:hover {
  color: black;
}

.men-box:hover .list {
  display: block;
}

.list li {
  background-color: whitesmoke;
}
.list li a {
  color: black;
}

.list {
  display: none;
}

.men-box {
  text-decoration: none;
  color: black;
}

.inputbox input {
  width: 300px;
  height: 40px;
  margin-top: 15px;
  margin-left: 30px;
  background-color: rgb(247, 244, 244);
  border: whitesmoke;
  border-radius: 4px;
}

.navprofile {
  display: flex;
  flex-direction: row;
  margin-top: 90px;
}
.navprofile a {
  margin-left: 10px;
  text-decoration: none;
  color: black;
  margin: 15px;
}

.wholebody {
  background-color: rgb(250, 246, 246);
  width: 100%;
}

.cont1 {
  width: 100%;
  margin: auto;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: auto auto auto;
}

.cont1 img {
  width: 100%;
}

/* .cont2 {
  width: 100%;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 153px 149px 149px;
}

.cont2 img {
  width: 100%;
} */

.dealx {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: auto auto auto auto auto;
  width: 100%;
}

.dealx img {
  width: 100%;
}

.apparelx {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto auto auto;
  width: 50% 50%;
}

.apparelx img {
  width: 100%;
}

#main_menu {
  background-color: white;
  color: black;
  padding: 0px;
  width: 100px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  margin-top: -29%;
}
#main_menu .main_list {
  color: white;
  list-style-type: none;
  float: left;
  padding-left: 25px;
  padding-right: 25px;
}
#main_menu .main_list:hover {
  /* color: black; */
}
.main_list ul {
  background-color: white;
  width: 330px;
  position: absolute;
  left: 900px;
  padding: 0px;
  float: left;
  padding-bottom: 10px;
}
#login_button {
  margin-left: 5%;

  position: absolute;
  margin-top: -65px;
  cursor: pointer;
  font-weight: 500;
  height: 50px;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  border-color: gray;
  /* background-color: rosybrown; */
}
#login_button a {
  color: #ff3f6c;
}
#login_button:hover {
  border-color: #ff3f6c;
}
.line1 {
  position: relative;
  top: -30px;
  width: 80%;
  margin: auto;
  height: 1px;
  border-width: 0;
  color: gray;
  background-color: gray;
}
.main_list ul p {
  color: black;
  background-color: white;

  text-align: left;
  padding-left: 14px;

  line-height: -12px;
  font-size: 14px;
  font-weight: 400;

  color: #3e4152;
  -ms-text-kashida-space: 0%;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}
#welcome {
  color: red;

  box-sizing: inherit;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 12px;
}
.main_list ul ol {
  float: left;
  padding: 0px;
  list-style-type: none;
  position: relative;
  top: -30px;

  margin-left: 30px;
}
.main_list ul ol li {
  line-height: 35px;

  font-size: 16px;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;

  cursor: pointer;
}
.main_list ul ol li:hover {
  color: black;
  font-weight: 500;
}
.main_list ul ol li:first-of-type {
  list-style: none;
  font-size: 19px;
  margin-top: 10px;
  color: black;
}
.main_list:hover ul {
  display: block;
}
.main_list ul {
  display: none;
}
/* ///////////////dropbox////////// */
.category span {
  position: relative;
  top: 20px;
  /* background-color: red; */
  margin: 10px;
}
.left-tab {
  width: auto;
  height: 100%;
  /* float: left; */
  display: flex;
  /* margin-left: 10px; */
}
.category-hover-div {
  min-width: 1100px;
  width: auto;
  position: absolute;
  height: 490px;
  background: #fff;
  top: 60px;
  padding: 20px;
  display: flex;
  border-radius: 4px;
  left: 5%;

  visibility: hidden;

  overflow: hidden;
}

.category:hover .category-hover-div {
  visibility: visible;
  opacity: 1;
}

.category-hover-div-right {
  width: 80%;
  height: auto;
  display: flex;
  padding-left: 0px;
  overflow: hidden;
  flex-direction: column;
  flex-wrap: wrap;
}
.category-hover-div-right a {
  width: 25%;
  height: auto;
  font-size: 17px;
  line-height: 30px;
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-weight: normal;
}
.category-hover-div-right a:hover {
  color: black;
  font-weight: 500;
}

.brand-hover-div-center {
  width: 50%;
  height: auto;
  display: flex;
  padding-left: 45px;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 20px;
  padding-top: 20px;
}
.center-left {
  width: 50%;
  height: auto;
  max-height: 490px;
  overflow: hidden;
}

.center-left a,
.center-right a {
  width: auto;
  height: auto;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #8d8d8d;
  font-weight: lighter;
}
.center-left a:hover,
.center-right a:hover {
  color: red;
}
.center-left a:nth-of-type(1),
.center-right a:nth-of-type(1) {
  font-weight: bold;
  color: black;
}

.sub-heading {
  color: #ee5f73 !important;
  margin-top: 10px;
  font-size: 20px !important;
  /* background-color: #ff3f6c; */
}
.drop_line {
  margin: 10px 10px 10px 10px;
  width: 150px;
  height: 2px;
  background-color: gray;
}
/* ////carosle */

.mySlides {
  display: none;
}

.slideshow-container {
  /* max-width: 1000px; */

  /* position: relative; */

  margin: auto;
  margin-top: 2%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}
.mySlides img {
  width: 100%;
  height: 400px;
  /* ma */
}
