* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.leftright_container {
  display: flex;
}

.header {
  border: 1px solid #e0e3f3;
  margin-left: 20px;
  display: flex;
}

.myntralogo {
  width: 10%;
  margin-left: 10px;
  /* border: 1px solid red; */
  margin-top: 10px;
  margin-bottom: 10px;
}

.myntralogo img {
  padding: 2%;
  /* width: 30%; */
}

.headcont {
  text-align: center;
  width: 40%;
  /* border: 1px solid red; */
  margin: auto;
  color: rgb(105, 107, 121);
}

.headcont li {
  display: inline-block;
}

.dash-border {
  border-top: 1px dashed #696b79;
  height: 4px;
  width: 5%;
}

.secure {
  width: 15%;
  margin-top: 20px;
  margin-bottom: 10px;
  gap: 5px;
  display: flex;
  color: #535766;
  font-weight: 600;
  font-size: 12px;
}

.secure img {
  width: 26px;
  height: 28px;
  padding: 5px;
}

.left-bar {
  width: 614px;
  height: 574px;
  margin-left: 279px;
}

.avail-cont {
  display: flex;
  flex-direction: column;
  width: 593px;
  line-height: 30px;
}

.avail-off {
  background: #fff;
  margin-bottom: 10px;
  padding-top: 16px;
  padding-right: 18px;
  padding-bottom: 12px;
  padding-left: 18px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  font-size: 13px;
  position: relative;
}

/* 
.offer-icon {
    width: 18px;
    height: 18px;
} */

.offer-title {
  font-weight: 600;
  font-size: 14px;
  margin-left: 30px;
  margin-bottom: 12px;
}

.showmore {
  padding-left: 17px;
  font-size: 14px;
  font-weight: 600;
  color: #ff3f6c;
  display: inline-block;
}

.item-bag {
  display: flex;
  gap: 220px;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 18px;
  padding-left: 12px;
}

.shop-item {
  height: 430px;
  width: 593px;
  border: 1px solid #eaeaec;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.shop_item_left {
  width: 225px;
  border: 1px solid #eaeaec;
  display: flex;
  flex-direction: column;
}

.shop_item_right {
  width: 350px;
  border: 1px solid #eaeaec;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.shop_item_left div {
  border: 1px solid #eaeaec;
  height: 61px;
  font-weight: bold;
  color: black;
}

.shop_item_right div {
  margin-left: 20px;
}
#b {
  text-align: center;
}

.div_card_expiry {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#c {
  text-align: center;
}

#d {
  text-align: center;
}

.div_card_expiry > div:nth-child(2) input {
  width: 60px;
}

.shop_item_right div:nth-child(3) input,
div:nth-child(6) button {
  width: 300px;
  height: 40px;
}

#card_number {
  width: 300px;
  height: 40px;
  text-align: center;
}

.shop_item_right div:nth-child(6) button {
  background-color: #ff3f6c;
  color: white;
  border: none;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.gift_card_div {
  color: #94969f;
  height: 50px;
  display: flex;
  gap: 50px;
  border: 1px solid #eaeaec;
  width: 593px;
}
.gift_card_div button {
  border: none;
  color: #94969f;
  padding: 15px;
  background: none;
  cursor: pointer;
  font: 600;
  font-size: 17px;
}

.right-bar {
  border: 1px solid #eaeaec;
  width: 336px;
  height: 547px;
  padding-top: 24px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 16px;
  display: flex;
}

.price-infocont {
  width: 320px;
  height: 177px;
  border-bottom: 1px solid #eaeaec;
  display: grid;
  grid-template-columns: auto auto;
  grid-row: auto auto auto auto auto;
  grid-gap: 5px;
}

.couponapply-but {
  border: none;
  font-size: 14px;
  color: #ff3f6c;
  background: none;
  cursor: pointer;
}

.conv-fee {
  font-size: 16px;
}

.total {
  display: flex;
  gap: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  font: 600;
}
